@model IEnumerable<RealEstate.Web.Models.PropertyViewModel>

@{
    ViewBag.Title = "Real Estate Property Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Real Estate Property Search</h2>

<p>
    @Html.ActionLink("Add Property", "CreateProperty")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProperty", new { propertyId = item.PropertyId }) |
            @Html.ActionLink("Details", "PropertyDetails", new { propertyId=item.PropertyId }) |
        </td>
    </tr>
}

</table>
