@model RealEstate.Web.Models.PropertyViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "PropertyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PropertyDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProperty", new { propertyId = Model.PropertyId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @if (Model.OwnedBy != User.Identity.GetUserName())
    {
        if (Model.IsInterested)
        {
            @Html.ActionLink("Remove from Property Interest", "RemovePropertyInterest", "PropertyInterest", new { propertyId = Model.PropertyId }, new { @class = "btn btn-default" })
        }
        else
        {
            @Html.ActionLink("Add to Property Interest", "AddPropertyInterest", "PropertyInterest", new { propertyId = Model.PropertyId }, new { @class = "btn btn-default" })
        }
    }
</p>
