@model IEnumerable<RealEstate.Web.Models.PropertyInterestViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Property Interests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnedBy)
            </td>
            <td>
                @Html.ActionLink("Details", "PropertyDetails", "Property", new { propertyId = item.PropertyId }, new { @class = "btn btn-default" }) 
            </td>
        </tr>
    }

</table>
